@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.login-container {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    background-image: url('../img/Login.png');
    background-color: #e5e7ff; 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-all {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    background-color: rgb(76, 101, 121);
    padding: 0px 80px 80px 80px;
    border-radius: 20px;
    margin-top: -50px; 
  }
  
  .text-name, .item-camp img {
    text-align: center; 
  }

  .item-camp {
    font-size: 20px;
    color: antiquewhite;
    padding-bottom: 20px;
  }

  .item-bot {
    padding-top: 15px;
  }

  .login-button {
    background-color:rgb(32, 190, 0); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    font-size: 18px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 100%;
    font-weight: bold;
  }
  
  .login-button:hover {
    background-color: green; 
    color: white;
    font-weight: bold;
  }

  .login-button:focus {
    background-color: green; 
    color: white;
    font-weight: bold;
  }
  
  .text-name {
    letter-spacing: 10px;
    font-size: 25px;
    align-items: center;
    padding: 0px 0px 35px 0px;
    color: white;
  }

  .item-bot {
    width: 100%; 
    padding-top: 20px; 
  }